
.animation-symbol {
  animation: spin-color 5s linear infinite;
  background-color: #04e;
  height: 5rem;
  width: 5rem;
}

@keyframes spin-color {
  from {
    transform: rotate(0deg);
    border-radius: 50% 50% 50% 50%;
  }
  25% {
    border-radius: 40% 50% 50% 50%;
  }
  50% {
    border-radius: 50% 40% 50% 60%;
  }
  60% {
    border-radius: 50% 50% 40% 60%;
  }
  80% {
    border-radius: 50% 50% 50% 40%;
  }
  to {
    transform: rotate(360deg);
    border-radius: 50% 50% 50% 50%;
  }
}