
.animation-symbol {
  animation: spin-color 10s linear infinite;
  background-color: #04e;
  height: 5rem;
  width: 5rem;
}

@keyframes spin-color {
  from {
    border-radius: 50% 50% 50% 50%;
  }
  10% {
    border-radius: 50% 40% 50% 50%;
  }
  20% {
    border-radius: 50% 50% 35% 50%;
  }
  30% {
    border-radius: 50% 50% 50% 45%;
  }
  40% {
    border-radius: 45% 50% 50% 50%;
  }
  50% {
    transform: rotate(0deg);
    border-radius: 50% 50% 50% 50%;
  }
  60% {
    border-radius: 50% 35% 50% 50%;
  }
  70% {
    border-radius: 50% 50% 50% 40%;
  }
  80% {
    border-radius: 40% 50% 50% 50%;
  }
  to {
    transform: rotate(360deg);
    border-radius: 50% 50% 50% 50%;
  }
}