
.animation-symbol {
  animation: spin-color 7s linear infinite;
  background-image: url(/skybg.jpg);
  background-position: center;
  background-size: cover;
}

@keyframes spin-color {
  from {
    border-radius: 50%;
  }
  33% {
    border-radius: 12%;
  }
  66% {
    border-radius: 75% 12%;
  }
  to {
    border-radius: 50%;
  }
}
